<%= link_to 'Donate', new_project_donation_path(@project) %>

<% if project.donations.any? %>
  <% project.donations.reverse_each do |donation| %>
    <p><%= donation.user.username %> donated £<%= donation.without_pence(donation.amount) %></p>
  <% end %>
<% end %>