<p><%= project.description %></p>

<% if project.has_pic? %>
  <%= image_tag @project.image.url(:medium) %>
<% end %>

<% if project.has_video? %>
  <%= video.code.html_safe %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>