<ul class="nav nav-pills nav-justified index-tabs" style="margin-top: 15px;">
  <li role="presentation" class="active"><a href="#" id="main_link"> Main</a></li>
  <li role="presentation"><a href="#" id="near_me_link"> Near Me </a></li>
  <% if user_signed_in? %>
    <li role="presentation"><a href="#" id="donated_link"> Donated </a></li>
    <li role="presentation"><a href="#" id="following_link"> Following </a></li>
  <% end %>

</ul>
<input id="tab" name="tab" type="hidden" value="<%= params[:tab] || 1 %>">