<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#" id="main_link"> Main </a></li>
  <li role="presentation"><a href="#" id="blog_link"> Updates </a></li>
  <li role="presentation"><a href="#" id="investors_link"> Investors </a></li>
</ul>