<%= link_to 'Add a project', new_project_path %>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2><%= link_to project.name, project_path(project) %></h2>
    <h4>£ <%= project.goal %></h4>
  <% end %>
<% else %>
  <h3>No projects yet!</h3>
<% end %>