<% if @project.has_expired? %>
  Project has expired
<% else %>
  <br>
  <%= simple_form_for [@project, @donation] do |f| %>
  <div class="input-group-addon">£</div>
  <%= f.input :amount, class: "form-control", placeholder: "Please enter donation amount..." %>
  <div class="input-group-addon">.00</div>
    <p>
    </p>
    <%= f.submit 'Donate', class: "btn btn-success" %>
  <% end %>
<% end %>
