<%= link_to 'Add a project', new_project_path %>
<%= request.location.inspect %>
<% if @projects.any? %>

  <% @projects.each do |project| %>
    <%= render partial: 'projects/partials/basic_info', locals: {project: project} %>
    <script>
      <%= render partial: 'projects/js/timer', formats: [:js], locals: {project: project} %>
    </script>
  <% end %>

<% else %>

  <h3>No projects yet!</h3>

<% end %>
