body { padding-top: 65px; }

.simple_form label {
  margin-top: 15px;
  display: block;
  text-align: center !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[type='file'] {
  color: transparent;
}

#project_image {
  margin-left: 38%;
};

input.search-bar {
  width: 200px;
}

#avatar_image {
  width: 35px;
  border-radius: 20px;
}

.navbar {
  height: 65px;
  max-height: 10%;
}

.navbar-link { 
  padding-top: 22px !important;
}

.navbar-right {
  float: right !important;
}

.navbar-avatar {
}

.navbar-user {
  margin: 0 8px;
}

.dropdown-toggle { 
  text-align: right;
}

.search-section {
  text-align: center;
  background-color: lightblue;
  padding: 33px 0 10px;
  display: none;
}

.search-section * {
  margin-bottom: 12px;
}

.placeholder {
  color: gray;
}

select option:first-child{color: grey; display: none;}
select option{color: #555;}

.search-bar {
  width: 30%;
  margin-left: 35%;
}

.search-select {
  width: 20%;
  margin-left: 40%;
}

.modal {
  position: fixed;
  overflow: auto;
  text-align: center;
  bottom: initial;
  z-index: 2;
  display: block;
  max-height: 80%;
}

.over {
  text-align: center;
  font-weight: 800;
  padding-top: 13px;
}

.main {
  z-index: 1;
}

.investors,
.blog {
  visibility: hidden;
  position: absolute;
  z-index: 0;
}

.main {
  opacity: 1;
  position: relative;
}

.sidebar {
  text-align: center;
  border-radius: 4px;
}

.timer {
  background-color: transparent;
  width: 144px;
  display: inline-block;
  border: 0px;
  padding-left: 23px;
  float: left;
}

.countdown-section {
  width: 40% !important ;
}

.donate_btn {
  width: 90%;
}

.progress-wrap {
  width: 90%;
  margin-left: 5%;
}

.money-info {
  text-align: left;
}

.close-modal {
  z-index:4;
  position:absolute;
  top: 1% !important;
  right: 2% !important;
}

.modal a.close-modal {
  top: inherit;
  right: inherit;
}

.investor_image {
  width: 7%;
}

.investor_table {
  vertical-align: inherit !important;
}
