body { padding-top: 65px; }

input.search-bar {
  width: 200px;
}

#avatar_image {
  width: 35px;
  border-radius: 20px;
}

.navbar {
  height: 65px;
}

.navbar-link { 
  padding-top: 22px !important;
}

.navbar-right {
  float: right !important;
}

.navbar-avatar {
}

.navbar-user {
  margin: 0 8px;
}

.dropdown-toggle { 
  text-align: right;
}

.search-section {
  text-align: center;
  background-color: lightblue;
  padding: 33px 0 10px;
  display: none;
}

.search-section * {
  margin-bottom: 12px;
}

.placeholder {
  color: gray;
}

select option:first-child{color: grey; display: none;}
select option{color: #555;}

.search-bar {
  width: 30%;
  margin-left: 35%;
}

.search-select {
  width: 20%;
  margin-left: 40%;
}

.modal {
  position: fixed;
  overflow: visible;
  text-align: center;
  bottom: initial;
  z-index: 2;
  display: block;
}

.over {
  text-align: center;
  font-weight: 800;
  padding-top: 13px;
}

.main {
  z-index: 100;
}

.investors,
.blog {
  visibility: hidden;
  position: absolute;
  z-index: 0;
}

.main {
  opacity: 1;
  position: relative;
}

.sidebar {
  text-align: center;
  border-radius: 4px;
}

.timer {
  background-color: transparent;
  width: 144px;
  display: inline-block;
  border: 0px;
  padding-left: 23px;
  float: left;
}

.countdown-section {
  width: 40% !important ;
}

.donate_btn {
  width: 90%;
}

.progress-wrap {
  width: 90%;
  margin-left: 5%;
}

.money-info {
  text-align: left;
}