// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
  opacity: 0;
  position: absolute;
}

.main {
  opacity: 1;
  position: relative;
}