<div style="text-align: center; margin-top: 40px;">
  <h2>Thanks, you paid £ <strong><%= without_pence(@amount) %></strong> for <%= @project.name %>!</h2>
</div>

<div class="home_buttons" style="text-align: center; margin-top: 40px;">
  <%= link_to "Back to Project Page", project_path(@project), class: "btn-lg btn-primary" %>
</div>

<div class="home_buttons" style="text-align: center; margin-top: 40px;">
  <%= link_to "Back to Home", projects_path, class: "btn-lg btn-primary" %>
</div>